# =============== #
# Unity generated #
# =============== #

Temp/
Obj/
UnityGenerated/
Library/
.VSCodeCounter/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ===================================== #
